In [1]:
import pandas as pd
from surprise import Dataset, Reader, KNNBasic
from surprise.model_selection import cross_validate

In [4]:
df = pd.read_csv('/Users/liu/Desktop/flavors_of_cacao.csv')

In [5]:
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [8]:
df.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [9]:
reader = Reader(rating_scale=(0.5,5))